- name: install the os dependencies
  package:
    name: "{{ item }}"
    state: present
  loop:
  - "{{ os_dependencies }}"
  when: os_dependencies is defined

- name: Add Nodesource apt key.
  apt_key:
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0x1655A0AB68576280
    id: "68576280"
    state: present
  when:  ansible_os_family == 'Debian'

- name: Add NodeSource repositories for Node.js.
  apt_repository:
    repo: "{{ item }}"
    state: present
  with_items:
    - "deb https://deb.nodesource.com/node_{{ nodejs_version }} {{ ansible_distribution_release }} main"
    - "deb-src https://deb.nodesource.com/node_{{ nodejs_version }} {{ ansible_distribution_release }} main"
  register: node_repo
  when:  ansible_os_family == 'Debian'

- name: fresh debians need to update
  apt:
    update_cache: yes
  when:  ansible_os_family == 'Debian'

- name: install the dependencies
  package:
    name: "{{ item }}"
    state: present
  loop:
  - git
  - ruby
  - nodejs
  - curl
  - make
  - gcc
  - "{{ g_plus_plus }}"
  - "{{ ffi_devel_package }}"
  - "{{ libz_devel_package }}"
  - "{{ apache_package_name }}"
  - "{{ sqlite_devel_package }}"
  - "{{ ruby_devel_package }}"

- name: install the npm on non-Debian
  package:
    name: "{{ item }}"
    state: present
  loop:
  - npm
  when: ansible_os_family != 'Debian'

- name: install all the gems we need
  community.general.gem:
    name: "{{ item.name }}"
    version: "{{ item.version }}"
    state: present
    user_install: no
  loop:
  - { name: 'bundler', version: '2.2.18' }
  - { name: 'rake', version: '13.0.3' }

- name: install apache openidc mod
  package:
    name: "{{ apache_oidc_mod_package }}"
    state: present
  when: oidc_uri is defined or
        oidc_discover_uri is defined or
        oidc_discover_root is defined

- include: passenger.yml
  become: false
