- name: make sure base directories exist
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 'u=rwX,g=rX,o=rX'
  loop:
  - "{{ ood_base_apache_dir }}"
  - "{{ ood_app_dir }}"
  - "{{ ood_sys_app_dir }}"
  - "{{ ood_dev_app_dir }}"
  - "{{ ood_usr_app_dir }}"
  - "{{ ood_base_dir }}"
  - "{{ ood_base_apache_dir }}/public"
  - "{{ ood_base_apache_dir }}/discover"
  - "{{ ood_base_conf_dir }}"

- name: make os directories when required
  file:
    path: "{{ item }}"
    state: directory
    mode: 'u=rwX,g=rX,o=rX'
  loop: "{{ os_directories }}"
  when: os_directories is defined

# Have to remove these test directories because they don't copy well.  They have
# recursive symlinks that throw OSError: [Errno 40] Too many levels of symbolic links
- name: rm findit2 test directory
  file:
    path: "{{ ood_source_dir }}/apps/files/{{ item }}"
    state: absent
  loop:
  - "node_modules/findit/test"
  - "lib/findit2/test"

- name: move apps to their directories
  copy:
    src: "{{ ood_source_dir }}/apps/{{ item }}"
    dest: "{{ ood_sys_app_dir }}"
    owner: root
    group: root
    mode: 'u=rwX,g=rX,o=rX'
    remote_src: yes
  loop: "{{ ood_base_apps }}"

- name: move core libs to their directories
  copy:
    src: "{{ ood_source_dir }}/{{ item }}"
    dest: "{{ ood_base_dir }}"
    owner: root
    group: root
    mode: 'u=rwX,g=rX,o=rX'
    remote_src: yes
  loop: "{{ ood_core_libs }}"

- name: make nginx config files for core sys apps
  file:
    path: "{{ nginx_apps_dir }}/sys/{{ item }}.conf"
    state: touch
    owner: root
    group: root
    mode: 'u=rwX,g=rX,o=rX'
  loop: "{{ ood_base_apps }}"

- name: make version file
  copy:
    content: "{{ ood_source_version }}"
    dest: "{{ ood_base_dir }}/VERSION"
    mode: 'u=rw,g=r,o=r'

- name: cleanup build logfiles
  file:
    path: "{{ ood_sys_app_dir }}/log/production.log"
    state: absent
  loop: "{{ ood_base_apps }}"

- name: give the apache user rights to nginx_stage
  template:
    src: ood-sudoers.j2
    dest: /etc/sudoers.d/ood
    mode: 'u=rw,g=,o='
