- name: install the rpm repo
  package:
    name: "{{ rpm_repo_url }}"
    state: present

- name: install additional rpms
  package:
    name: "{{ item }}"
    state: present
  loop:
  - "{{ additional_rpm_installs }}"
  when: additional_rpm_installs is defined

- name: install apache openidc mod
  package:
    name: "{{ apache_oidc_mod_package }}"
    state: present
  when: oidc_uri is defined or
        oidc_discover_uri is defined or
        oidc_discover_root is defined

- name: enable scl repos in rhel
  shell: "subscription-manager repos --enable=rhel-server-rhscl-7-rpms"
  when: ansible_distribution == "Red Hat Enterprise Linux"

- name: install ondemand
  yum:
    name: ondemand
    state: latest
    update_cache: true

- name: install ondemand-dex
  yum:
    name: "{{ ondemand_dex_package }}"
    state: latest
  when: install_ondemand_dex