- name: Install OOD apps
  ansible.builtin.git:
    repo: "{{ item.value.repo }}"
    dest: "{{ item.value.dest | default(ood_sys_app_dir) }}/{{ item.key }}"
    version: "{{ item.value.version | default('master') }}"
    umask: "{{ item.value.umask | default('022') }}"
  when: ood_install_apps is defined
  loop: "{{ ood_install_apps | default({}) | dict2items }}"
