[locations]
packaging_method=tar
bin_dir={{ passenger_base_dir }}/bin
support_binaries_dir={{ passenger_support_binaries_dir }}
lib_dir={{ passenger_lib_dir }}
helper_scripts_dir={{ passenger_base_dir }}/src/helper-scripts
resources_dir={{ passenger_base_dir }}/resources
include_dir={{ passenger_support_binaries_dir }}/include 
doc_dir={{ passenger_base_dir }}/doc
ruby_libdir={{ passenger_base_dir }}/src/ruby_supportlib
node_libdir={{ passenger_base_dir }}/src/nodejs_supportlib
apache2_module_path=/opt/rh/httpd24/root/usr/lib64/httpd/modules/mod_passenger.so
ruby_extension_source_dir={{ passenger_base_dir }}/src/ruby_native_extension/
nginx_module_source_dir={{ passenger_base_dir }}/src/nginx_module/
