[ondemand-web]
name=Open OnDemand Web Repo
baseurl={{ repo_base_url }}
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ondemand

[ondemand-web-source]
name=Open OnDemand Web Repo
baseurl={{ repo_src_base_url }}
enabled=0
gpgcheck=1
repo_gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ondemand