---
name: Galaxy Publish
on:
  push:
    tags:
      - '*'

defaults:
  run:
    working-directory: 'osc.open_ondemand'

jobs:

  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2
        with:
          path: 'osc.open_ondemand'

      - name: Set up Python 3.
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Ansible.
        run: pip3 install ansible-base

      - name: Trigger a new import on Galaxy.
        run: ansible-galaxy role import --api-key ${{ secrets.OSC_ROBOT_GALAXY_TOKEN }} osc ood-ansible
