name: Molecule Tests

on:
  push:
    branches:
      - main
      - master
      - develop
      - release-*
  pull_request:
    branches:
      - main
      - master
      - develop
      - release-*

jobs:
  package-tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        image:
          - 'centos:7'
          - 'centos:8'
          - 'rockylinux:8'
          - 'ubuntu:20.04'
          - 'ubuntu:18.04'
        scenario:
          - 'default'

    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install dependencies
        run: |
          python3 -m pip install -r molecule/requirements.txt
          ansible-galaxy collection install community.general
          sudo apt update && sudo apt install -y podman
      - name: run tests
        run: molecule test --scenario-name=${{ matrix.scenario }}
        env:
          IMAGE: '${{ matrix.image }}'
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          CONTAINER_RT: 'podman'
          ANSIBLE_ROLES_PATH: "$ANSIBLE_ROLES_PATH:$PWD/.."

