name: Molecule Tests

on:
  push:
    branches:
      - main
      - master
      - develop
      - release-*

  pull_request:
    branches:
      - main
      - master
      - develop
      - release-*

defaults:
  run:
    shell: bash

jobs:
  package-tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        image:
          - 'centos/centos:stream8'
          - 'rockylinux:8'
          - 'rockylinux:9'
          - 'almalinux:8'
          - 'almalinux:9'
          - 'ubuntu:20.04'
          - 'ubuntu:22.04'
        scenario:
          - 'default'
          - 'upgrade'

    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: install dependencies
        run: |
          python3 -m pip install -r molecule/requirements.txt
          ansible-galaxy collection install community.general
          sudo apt update && sudo apt upgrade -y && sudo apt install -y podman

      - name: run tests
        run: molecule test --scenario-name=${{ matrix.scenario }}
        env:
          IMAGE: '${{ matrix.image }}'
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          CONTAINER_RT: 'podman'
          ANSIBLE_ROLES_PATH: "$ANSIBLE_ROLES_PATH:$PWD/.."
